<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="HK2_MarketingAnalytics::settings"
             title="Marketing Analytics"
             module="HK2_MarketingAnalytics"
             sortOrder="41"
             action="adminhtml/system_config/edit/section/hk2_marketingAnalytics_section1"
             resource="HK2_MarketingAnalytics::settings"
             parent="HK2::root"/>
    </menu>
</config>